<div class="jumbotron jumbotron-fluid" style="margin-left: 50px">
    <h2 class="text-center">Maritza <small>tasks</small></h2>
    <hr>
    <div class="alert alert-primary text-center" role="alert">
        Nota: los botones del panel funcionan correctamente.
    </div>
    <br>
    <ul>
        <li>Organizar panel.</li>
        <li>Organizar componente perfil donde este la información del usuario.</li>
        <ul>
            <li>Crear botón de editar [no necesita funcionalidad aún]</li>
        </ul>
        <li>Organizar componente <b>us-card</b> donde se vera cada una de las US</li>
        <ul>
            <li>La idea es que tenga botón para abrirla y ver mas información</li>
        </ul>
        <li>Organizar componente <strong>user-stories</strong> donde se veran varias <b>us-card</b></li>
        <li>El panel back log aun no lo tocaremos</li>
    </ul>
</div>