<div id="menu">

    <div id="logo_principal" class="contenedor_general">
        <div class="Sombreado"></div>
        <p class="texto">Inicio</p>
    </div>

    <div id="espacio" class="contenedor_general">
        <div class="Sombreado"></div>
        <div class="Noticias"></div>
        <p class="texto">Noticias</p>
    </div>

    <div class="contenedor_general">
        <div class="Sombreado"></div>
        <div class="Notificaciones"></div>
        <p class="texto">Notificaciones</p>
    </div>

    <div class="contenedor_general">
        <div class="Sombreado"></div>
        <div class="Perfil"></div>
        <p class="texto">Perfil</p>
    </div>

    <div class="contenedor_general" class="Sombreado">
        <div class="Sombreado"></div>
        <div class="Usuarios"></div>
        <p class="texto">Usuarios</p>
    </div>

    <div class="contenedor_general">
        <div class="Sombreado"></div>
        <div class="Calendario"></div>
        <p class="texto">Calendario</p>
    </div>
</div>