<div id="menu">

    <div class="contenedor_general">
        <img src="../../../../assets/img/Align-Left-32.png" alt="Menu">
        <a [routerLink]="['home']">Menu</a>
    </div>

    <div routerLinkActive="active">
        <img src="../../../../assets/img/User-Profile-32.png" alt="profile">
        <a [routerLink]="['/profile']"> Profile</a>
    </div>

    <div routerLinkActive="active">
        <img src="../../../../assets/img/Bell-32.png" alt="backlog">
        <a [routerLink]="['backlog']"> Back Log</a>
    </div>

    <div routerLinkActive="active">
        <img src="../../../../assets/img/News-32.png" alt="user stories">
        <a [routerLink]="['userStories']"> User Stories</a>
    </div>s
</div>